.card {
  width: 40vh;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.082); /* Enhanced shadow for more blur */
  padding: 0.1rem;
  margin: 0.4rem 0.2rem; 
 margin-bottom: 20px;
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow on hover */
}

.card:hover {
  box-shadow: 0 6px 18px rgba(56, 20, 153, 0.137); /* Darker shadow on hover for emphasis */
}

.labelNumber {
  padding: 5px;
  background: rgb(255, 253, 253);
  border-left: 5px solid #007bff; /* Default border color */
  border-radius: 4px;
}

.statNumber {
  font-size: 2rem;
  font-weight: bold;
  color: #141414; /* Primary color */
  margin-left: 20px;
}

.statLabel {
  font-size: 1rem;
  color: #6c757d; /* Secondary color */
  margin-left: 20px;
}

.analytics {
  margin-top: 20px;
}
